#stamp1 {
    position: absolute;
    left:1%;
    height: 90%;
    width: 30%;
    text-align:center;
}

#stamp1 img{
    max-height: 100%;
    margin-left: 20%;
}

#stamp2 {
    position: absolute;
    top:260%;
    left:50%;
    height: 90%;
    width: 30%;
}

#stamp2 img{
    max-height: 100%;
    margin-left: 20%;
}

#stamp3 {
    position: absolute;
    top: 165%;
    left:27%;
    height: 100%;
    width: 30%;
   text-align:center;
}

#stamp3 img{
    max-height: 100%;
  margin-left: 20%;
}

#fingermenu{
    /* position: absolute; */
    background-color: rgba(255,0,0,0.5);
}

#culmoji{
    position: relative;
    left:8%;
    color:#a9a9a9;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000;
}

#phymoji{
    position: relative;
    left:10%;
    color:#a9a9a9;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000;
}
  
#emomoji{
    position: relative;
    left:13%;
    color:#a9a9a9;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000;
}